@import url('https://fonts.googleapis.com/css?family=Rubik:400,700');

$font-family: ("Rubik", sans-serif);
$font-family-fancy: ("Rubik", sans-serif);

$sanic: #ff0d68;
$blue: #0d6eff;
$green: #39ea29;
$orang: #ffb300;
$yellow: #f1f116;
$red: #ff0d4d;
$dark: #0a0a0a;
$less-dark: #111111;
$charcoal: #242424;

$theme-color: $sanic;
$code-dark-theme: night-owl;

$bg-color: $less-dark;
$bg-color-back: $dark;
$bg-color-float: $charcoal;
$bg-color-light: $charcoal;
$bg-color-active: $charcoal;
$bg-color-blur: $less-dark;
$bg-color-float-blur: $less-dark;

$colors: (#ff0d68ff);



div[class*="language-"] {
    background-color: $dark;
}

html[data-theme="dark"] {
    --bg-color: $bg-color;
}
